.id-card {
  display: flex;
  border: 2px solid black;
  font-size: 0.9rem;
}

.id-card__img {
  align-self: flex-start;
  height: 100%;
  width: auto;
}

.id-card__info {
  font-size: 1.4rem;
  align-self: center;
  margin-left: 20px;
  text-align: left;
}
